h1 {
  background: #665189; /* Цвет фона под заголовком */
  color: #ffffff; /* Цвет текста */
  padding: 35px; /* Поля вокруг текста */
  margin: 0; /* Убираем отступы */
  text-align: center;
  font-size: 400%; /*Размер шрифта*/
  font-style: italic; /* Курсивное начертание */
  font-weight:900; /*Жирный шрифт*/
}
button {
  background: #808080; /* Цвет фона под заголовком */
  color: #000000; /* Цвет текста */
  padding: 10px; /* Поля вокруг текста */
  margin: 0; /* Убираем отступы */
  text-align: center;
  font-size: 100%; /*Размер шрифта*/
  font-style: normal; /* Курсивное начертание */
  font-weight: 900; /*Жирный шрифт*/
}
h6 {
  background: #665189; /* Цвет фона под заголовком */  
}
