<h4><b>Список всех Пользователей</b></h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Добавить в друзья</th>
      <th>Отправить сообщение</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of users">
      <td>{{p?.userName}}</td>
      <td>{{p?.lastName}}</td>
      <td><a [routerLink]="['addfriends', p.id]" class="btn btn-sm btn-primary">В друзья</a></td>
      <td><a [routerLink]="['chat', p.id]" class="btn btn-sm btn-primary">Сообщение</a></td>
    </tr>
  </tbody>
</table>
