<button routerLink="/">На главную</button>
<h4><b>Список всех Пользователей</b></h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Добавить в друзья</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of friends">
      <td>{{p?.userName}}</td>
      <td>{{p?.lastName}}</td>
      <td><a [routerLink]="['addfriends', p.id]" class="btn btn-sm btn-primary">В друзья</a></td>
      <td><a [routerLink]="['profileallusers', p.id]" class="btn btn-sm btn-primary">Профиль</a></td>
    </tr>
  </tbody>
</table>
<input type="button" value="Prev" (click)="prevButAndAll(page-1)" [disabled]="page === 1" class="btn btn-default" />
<input type="button" *ngFor="let i of totalPage" [disabled]="i === page" value="{{i}}" (click)="prevButAndAll(i)" class="btn btn-default">
<input type="button" value="Next" (click)="nextBut(page+1)" [disabled]="page === totalPage.length" class="btn btn-default" />
<input type="button" value="end" (click)="endpage(totalPage.length)" [disabled]="page === totalPage.length" class="btn btn-default" />
