<body>
  <app-post></app-post>
  <div *ngFor="let p of posts">
    <h4>{{p.timeOfPublication | date:'MM-dd-yyyy @ hh:mma'}}:<strong>{{p.authorPost}}</strong></h4>
    <h2>{{p.post}}</h2>
    <div><a [routerLink]="['like', p.id]" class="btn btn-sm btn-primary">Like {{p.likeCounter}}</a></div>    
  </div>

  <input type="button" value="Prev" (click)="prevButAndAll(page-1)" [disabled]="page === 1" class="btn btn-default" />
  <input type="button" *ngFor="let i of totalPage" [disabled]="i === page" value="{{i}}" (click)="prevButAndAll(i)" class="btn btn-default">
  <input type="button" value="Next" (click)="nextBut(page+1)" [disabled]="page === totalPage.length" class="btn btn-default" />
  <input type="button" value="end" (click)="endpage(totalPage.length)" [disabled]="page === totalPage.length" class="btn btn-default" />
</body>
