<h4><b>Друзья</b></h4>

<button routerLink="/" class="btn btn-sm btn-primary">На главную</button>
<h1></h1>
<div *ngIf="friends">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of friends">
        <td>{{p?.userName}}</td>
        <td>{{p?.lastName}}</td>
        <td><a [routerLink]="['delfriend', p.id]" class="btn btn-sm btn-primary">Удалить</a></td>
        <td><a [routerLink]="['chat', p.id]" class="btn btn-sm btn-primary">Сообщение</a></td>
        <td><a [routerLink]="['profilefriend', p.id]" class="btn btn-sm btn-primary">Профиль</a></td>
      </tr>
    </tbody>
  </table>
</div>
<input type="button" value="Prev" (click)="prevButAndAll(page-1)" [disabled]="page === 1" class="btn btn-default" />
<input type="button" *ngFor="let i of totalPage" [disabled]="i === page" value="{{i}}" (click)="prevButAndAll(i)" class="btn btn-default">
<input type="button" value="Next" (click)="nextBut(page+1)" [disabled]="page === totalPage.length" class="btn btn-default" />
<input type="button" value="end" (click)="endpage(totalPage.length)" [disabled]="page === totalPage.length" class="btn btn-default" />
