<button routerLink="/allusers">Назад</button>
<div *ngIf="user">
  <h1>Avatar</h1>
  <img src="http://localhost:5000/{{user.avatarImgPath}}" style="width:100px; height:100px;">
  <br />
  <strong>Имя: <ins>{{user.userName}}</ins> </strong>
  <br />
  <strong>Фамилия: <ins>{{user.lastName}}</ins> </strong>
  <br />
  <strong>Возраст: <ins>{{user.age}}</ins> </strong>
  <br />
  <strong>Город: <ins>{{user.city}}</ins> </strong>
</div>
<br />
<label>Фотографии друга</label>
<br />
<div *ngIf="user">
  <span *ngFor="let p of user.photos">
    <img src="http://localhost:5000/{{p.path}}" style="width:400px; height:300px;">
  </span>
</div>

